{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Damn 🥒able</h1>
      <p>
        This is a webserver, intentionally vulnerable to different flavors of
        pickle-based insecure deserialization.
      </p>
      <p>
        <em><b>This is vulnerable to
          remote code execution and is for informational purposes only!
        </b></em>
      </p>
      <p>
          Do not run this software on any production environment or environments
          that you do not want hacked.
      </p>
    </div>
  </div>
</div>
{% endblock %}
